@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgba(140, 189, 214, 0.633);
    width: 10vw;
    font-family: 'Edu NSW ACT Foundation', cursive;
    height: 100vh;

}

.sidebar nav {
    padding: 45 px;

}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px;
}

.main {
    background-color: rgb(49, 167, 222);
    width: 116vw;
}

.container {
    display: flex;
}

.infocontainer {
    background-color: rgb(193, 208, 223);  
    height: 45vh;
    width: 80vw;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
    
}
.DevInfo{
    display: flex;
    justify-content:center;
    flex-direction: column;


}
.devpic img {
    width: 416px;
}
.hello{
    font-size:80px ;
}
.name{
    font-size:70px ;
    font-weight: bold;
}
.about{
    font-size: 50px;
    font-weight: bold;
}


.buttons button{

}