@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(54, 140, 164);
    width: 432px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    height: 100vh;

}

.sidebar nav {
    padding: 45 px;

}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 33px;
}
  .sidebar nav li a {
    text-decoration: none;
    color: rgb(73, 106, 134);


}

.main {
    background-color: rgb(94, 89, 120);
    width: 116vw;
}

.container {
    display: flex;
}

.infocontainer {
    background-color: rgb(139, 201, 224);  
    height: 45vh;
    width: 80vw;
    margin: 150px auto;
    display: flex;
    justify-content: space-around;
    
}
.DevInfo{
    display: flex;
    justify-content:center;
    flex-direction: column;


}
.devpic img {
    width: 416px;
}
.hello{
    font-size: 40px ;
}
.name{
    font-size: 35px;

    font-weight: bold;
    
}
.about{
    font-size: 40px;
    font-weight: bold;
}
.more about{
    font-size: 40px;
    margin-top: 23px;
    font-family: 
}
.button{
    margin-top: 34px;
    
}

.buttons button{
    border-radius: 30px;
    color: rgb(247, 247, 247);
    background-color: rgb(205, 15, 37);
    cursor: pointer;
    padding: 9px 14px;
    margin: 0 3px;
    
}
.buttons button:hover{
  background-color: aquamarine;
  color: rgb(255, 2, 2);
}

.devpic img {
    height: 440px;
}
